#cfp-form-215 {
}

#cfp-form-215 label {
    color: #dd3333;
    margin: 0px 0px 50px 0px;
}

#cfp-form-215 input, #cfp-form-215 select, #cfp-form-215 textarea {
    border-radius: px px px px;
    color: #dd3333;
}

#cfp-form-215 input:hover, #cfp-form-215 select:hover, #cfp-form-215 textarea:hover {
}

#cfp-form-215 input:focus, #cfp-form-215 select:focus, #cfp-form-215 textarea:focus {
}

#cfp-form-215 button {
    border-top: px none ;
    border-right: px none ;
    border-bottom: px none ;
    border-left: px none ;
    border-radius: px px px px;
    margin: 0px 0px 10px 0px;
}

#cfp-form-215 button:hover {
}

