
.yt-btn, 
input[type=submit].yt-btn, 
input[type=button].yt-btn{

    display: inline-block;
    min-width: 220px;
    height: 42px;
	padding: 10px;
    
    font-size: 14px;
    line-height: 1.3;
    font-weight: 600;
    color: #ffffff;
    background-color: $boss-blue;
    border: 2px solid $boss-blue;
    border-radius: 0px;
    text-decoration: none !important;

    cursor: pointer;

    text-align: center;
    
    &.yt-btn-orange{
        color: #fff !important;
        border-color: $yatco-orango !important;
        background-color: $yatco-orango !important;
    }

    &.yt-btn-darker-blue{
        color: #fff !important;
        border-color: #003172 !important;
        background-color: #003172 !important;   
    }

    &.yt-btn-alt-white{
        background-color: transparent !important;
        border: 2px solid #fff !important;
        color: #fff;
    }

    &.yt-btn-alt-blue{
        background-color: #fff !important; 
        border: 2px solid $boss-blue !important; 
        color: $boss-blue; 
    }

    &.yt-btn-alt-dark-blue{
        background-color: #fff !important; 
        border: 2px solid #003172 !important; 
        color: #003172;
    }

    &.yt-btn-alt-light-blue{
        background-color: #fff !important; 
        border: 2px solid #02bad0 !important;
        color: #02bad0;
    }

    &.yt-btn-radius{
        border-radius: 4px;
    }

    &.yt-btn-block{
        display: block;
        width: 100%;
        min-width: auto;
    }

    &.bigger-and-rounded{
        padding-top: 22px;
        padding-bottom: 22px;
        height: auto;
        border-radius: 4px;
    }
}

a.yt-btn, a .yt-btn{
    text-decoration: none !important;
}

button{
    cursor: pointer;
}