.blocker{
	background-color: rgba(0, 0, 0, 0.50);
	z-index: 500 !important;
	padding-top: 85px;
}

.yt-modal{
    overflow: unset;
    z-index: 50 !important;

	background-color: #f8f8f8;
	border-radius: 0px;
    box-shadow: none;

    padding-top: 30px;
    padding-bottom: 30px;

    a.close-modal{
    	background-image: url();
		top: 5px;
		right: 15px;
		color: #003470;		
		text-indent: 0;
		width: auto;
		height: auto;
    }

	input[type], select, textarea{
		&.yt-input{
			border-radius: 0px !important;
			border-color: #e4e4e4 !important;

			color: #012648;

			&::-webkit-input-placeholder { /* Edge */
				color: #012648 !important;
			}

			&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			 	color: #012648 !important;
			}

			&::placeholder {
			  color: #012648 !important;
			}
		}
	}
}

.single-yacht-modal{
	.headings{
		text-align: center;
		margin-bottom: 25px; 

		h4{
			font-size: 30px;
			font-family: initial;
			margin: 0px;
		}

		h5{
			font-size: 20px;
			margin: 0px;
		}
	}
}