.yatco-grabbed-yacht-details-gallery{
    .yt-row{


    }

    .col-pic {
      // height: 150px;
      overflow: hidden;
      margin-bottom: 0px;
      position: relative;

      padding: 0px;
      margin: 0px;

      .pic-wrapper{
        position: relative;
        padding-bottom: 90%;
      }

      .pic-overlay {
        position: absolute;
        top: 0;
        left: 0px;
        right: 0px;
        bottom: 0;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        opacity: 0;
        transition: opacity linear 500ms;
        height: 100%;
        align-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        position: absolute;
        top: 0px;
        left: 0px;
      }
    }
  }

.yatco-grabbed-yacht-details-full-spec{
  /* Style the buttons that are used to open and close the accordion panel */
  .accordion {
    display: block;
    padding: 10px 10px 10px 10px;
    line-height: 1em;
    color: #595959;
    background-color: transparent;
    border-top: 1px solid #7c7c7c;
    border-bottom: 1px solid #7c7c7c;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-bottom: 10px !important;

    font-size: 16px;
    font-weight: normal;
    font-family: sans-serif;
    
    cursor: pointer;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
      //background-color: #ccc;
  }

  .accordion:after {
    content: '\002B';
    color: #000;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2212";
  }

  /* Style the accordion panel. Note: hidden by default */
  ._panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
}

.yatco-grabbed-yacht-details-lead-form{

  
}