/* Prefix */
$prefix: yt-;

/* Colors */
$color-darker-blue: #406695;
$boss-blue: #067aed;
$yatco-orango: #df4807;

/* Breaking Points */
$breakpoint-small: 540px; // 540px
$breakpoint-med: 720px; // 720px
$breakpoint-large: 960px; // 960px

